@page
@model Statify.Pages.ProfileModel
@{
    var img = Model.User.Images.Where(x => x.Width == 300).FirstOrDefault();
}


@if (Model.User is not null)
{
    <div class="row text-center">
        <div class="col-8 mx-auto">
            <h1>@Model.User.DisplayName</h1>

            <img id="img1" alt="Image1.png" style="width: 150px; height: 150px;" src="@img.Url">
        </div>
        <div class="col-8 mx-auto">
            <h4>Country: @Model.User.Country</h4>
            <h4>Email: @Model.User.Email</h4>
            <h4>Followers: @Model.User.Followers.Total</h4>
            <h4>Subscription: @Model.User.Product</h4>
            <h4>Account: @Model.User.Id</h4>
        </div>
    </div>
}