@page
@model Statify.Pages.StatisticsModel
@{
}

@foreach (var genre in Model.Genres)
{
    <h1>@genre.Key | @genre.Value</h1>
}
<hr />

<h1>Acousticness = @Model.AudioFeatures.Acousticness</h1>
<h1>Danceability = @Model.AudioFeatures.Danceability</h1>
<h1>Energy = @Model.AudioFeatures.Energy</h1>
<h1>Instrumentalness = @Model.AudioFeatures.Instrumentalness</h1>
<h1>Speechiness = @Model.AudioFeatures.Speechiness</h1>
<h1>Valence = @Model.AudioFeatures.Valence</h1>

<hr />

<h1>You are a @Model.UserTitle listener!</h1>

